*{
    margin: 0;
}

body{
    font-family: 'Libre Baskerville', serif;
    background-color: #222024;
    color: white;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(255, 115, 0, 0.548);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #ffb347;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #FF5F1F;
}

a{
    text-decoration: none;
}

#brand{
    color: #FFFAE4;
    position: absolute;
    font-size:xx-large;
    top: 0.15rem;
    left: 0.3rem;
    width: 14rem;
}

#bar{
    background-color: rgb(255, 50, 50);
    width: 100%;
    height: 2.8rem;
}

#profile{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
}

#order-now{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 6.3rem;
    top: 0.8rem;
}

.dine{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 13.6rem;
    top: 0.8rem;
}

#order-now::after, .dine::after, #profile::after{
    content: "";
    border-bottom: 2px solid white;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
}

#order-now:hover::after, .dine:hover::after, #profile:hover::after{
    transform: scale(1, 1);
}

.main{
    padding-top: 1rem;
    background-color: #FF5F1F;
    width: 100%;
    height: 3.5rem;
    border-radius: 0 0 50% 50%;
}

.veg{
    position: relative;
    top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 12rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

.glow-v::before, .glow-v::after{
    content: "";
    position: absolute;
    left: -1.5px;
    top: -2.8px;
    width: 5rem;
    height: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 0.3rem);
    height: calc(100% + -11px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

.glow-v::after{
    filter: blur(15px);
    opacity: 0.9;
}

.non-veg{
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
    top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 16rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

.glow-n::before, .glow-n::after{
    content: "";
    position: absolute;
    left: -1.6px;
    top: -2px;
    width: 16rem;
    height: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 0.2rem);
    height: calc(100% + -12px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

.glow-n::after{
    filter: blur(16px);
    opacity: 0.9;
}

.extras{
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
    top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 10rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

.glow-e::before, .glow-e::after{
    content: "";
    position: absolute;
    left: -1.6px;
    top: -2px;
    width: 16rem;
    height: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 0.2rem);
    height: calc(100% + -12px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow-e::after{
    filter: blur(15px);
    opacity: 0.9;
}

.cent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vA{
    position: relative;
    top: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 120px;
    row-gap: 50px;
    padding-bottom: 5rem;
}

.nA{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 120px;
    row-gap: 50px;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.eA{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 120px;
    row-gap: 50px;
    padding-top: 3rem;
}

.v{
    background-color: #0A0A08;
    width: 28rem;
    height: 33rem;
    border-radius: 10px;
    border: 1.5px solid #FF5F1F;
    box-shadow: 3px 3px 5px 0 red;
    transition: transform 0.6s;
}

.v:hover{
    transform: translateY(-4px);
    box-shadow: 6px 6px 5px 0 red;
}

.e{
    background-color: #0A0A08;
    width: 28rem;
    height: 22rem;
    border-radius: 10px;
    border: 1.5px solid #FF5F1F;
    box-shadow: 3px 3px 5px 0 red;
    transition: transform 0.6s;
}

.e:hover{
    transform: translateY(-4px);
    box-shadow: 6px 6px 5px 0 red;
}

.dish-name{
    padding: 15px 0 0 0;
    text-align: center;
}

img{
    border-radius: 10px 10px 0 0;
}

.img {
    width: 448px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}
   
.img img {
    width: 100%;
    transition: 0.65s all ease-in-out;
}
   
.img:hover img {
    transform: scale(1.2);
}

/* IF WANT TO REMOVE THE P TEXT */
/* .v {
    width: 448px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
   
.v img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
   
.v:hover img {
    transform: scale(1.5);
} */

.dish-price{
    background-color: rgb(63, 63, 63);
    width: 8rem;
    height: 1.8rem;
    position: relative;
    top: -20.5rem;
    left: 1rem;
    border-radius: 10px 0 10px 0;
    text-align: center;
    padding-top: 10px;
    opacity: 0.9;
    border: 2px solid #FF3131;
}

.dish-desc{
    text-align: center;
    padding-left: 1rem;
    width: 26rem;
}

.e-price{
    background-color: rgb(63, 63, 63);
    width: 10rem;
    height: 1.8rem;
    position: relative;
    top: -20.55rem;
    left: 1rem;
    border-radius: 10px 0 10px 0;
    text-align: center;
    padding-top: 10px;
    opacity: 0.9;
    border: 2px solid #FF3131;
}

@media screen and (max-width: 480px){
    body{
        font-size: small;
    }
    .dine{
        position: absolute;
        right: 9.5rem;
    }
    #order-now{
        position: absolute;
        right: 4rem;
    }
    #order-now::before{
        content: "| ";
    }
    #profile{
        right: 0.5rem;
    }
    #profile::before{
        content: "| ";
    }
    .vA{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .v{
        width: 26rem;
        height: 31rem;     
    }
    .e{
        width: 26rem;
        height: 22rem;    
    }
    .img {
        width: 416px;
        height: 300px;
    }
    .dish-desc{
        width: 24rem;
    }
    .nA{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .eA{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .box-container{
        font-size:large;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .about{
        position: relative;
        left: 2rem;
    }
    .abt{
        padding-top: 1.5rem;
    }
    .foot-hd{
        padding-bottom: 0;
        position: relative;
        left: 50%;
    }
    .abt-cont{
        width: 18rem;
        position: relative;
        left: 8%;
        top: -2rem;
        padding-bottom: 2rem;
    }
    .branch{
        position: relative;
        left: 0;
        width: 15rem;
    }
    .bran{
        position: relative;
        left: 15%;
    }
    .br-cont{
        position: relative;
        padding-left: 30%;
        padding-bottom: 2rem;
    }
    .quick{
        position: absolute;
        width: 10rem;
        left: -3rem;
    }
    .qui{
        position: relative;
        left: -3rem;
    }
    .qui-cont{
        position: relative;
        width: 5rem;
        left: -2.2rem;
    }
    .fol-box{
        position: relative;
        top: 5rem;
    }
    footer{
        position: relative;
        bottom: -10rem;
        height: 60rem;
    }
}

.box-container{
    position: absolute;
    background-color: rgb(36, 36, 36);
    bottom: -45rem;
    left: 0;
    width: 100%;
    opacity: 0.95;
    height: auto;
    padding-bottom: 7rem;
}

.info{
    display: flex;
    height: auto;
    width: 100%;
    padding-bottom: 2rem;
    border-top: 2px solid rgb(255, 102, 0);
}

.about{
    width: 15rem;
    position: relative;
    left: 6rem;
    top: 1rem;
}

.abt-cont{
    padding-top: 1rem;
    line-height: 2rem;
    word-spacing: 0.5rem;
}

.quick{
    position: relative;
    right: 8rem;
    left: 50%;
    top: 1rem;
}

.qui-cont a{
    padding-top: 1rem;
    line-height: 3rem;
    position: relative;
    left: 15%;
    color: rgb(255, 131, 49);
    transition: 0.5s all;
}

.qui-cont a:hover{
    color: rgb(255, 46, 46);
}

.branch{
    position: relative;
    left: 25%;
    top: 1rem;
}

.br-cont{
    line-height: 3rem;
    position: relative;
    left: 10%;
    width: 80px;
}

.foot-hd{
    padding-bottom: 2rem;
}
/* 
.bran{
    width: 10rem;
} */

.copyright{
    padding-top: 2rem;
}

.fol-box a{
    color: #FFA500;
}

.fol-box{
    position: relative;
    top: 4rem;
}

footer{
    position: relative;
    bottom: 0;
}